In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer

In [3]:
#Loading and the data
import os
print(os.getcwd())

C:\Users\glodi mukomo

In [4]:
df = pd.read_csv(r'C:\Users\glodi mukomo\Downloads\Student_performance_data.csv')
df.head(10)

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0
5,1006,18,0,0,1,8.191219,0,0,1,1,0,0,0,3.084184,1.0
6,1007,15,0,1,1,15.601680,10,0,3,0,1,0,0,2.748237,2.0
7,1008,15,1,1,4,15.424496,22,1,1,1,0,0,0,1.360143,4.0
8,1009,17,0,0,0,4.562008,1,0,2,0,1,0,1,2.896819,2.0
9,1010,16,1,0,1,18.444466,0,0,3,1,0,0,0,3.573474,0.0

In [5]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2392 entries, 0 to 2391
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   StudentID          2392 non-null   int64
 1   Age                2392 non-null   int64
 2   Gender             2392 non-null   int64
 3   Ethnicity          2392 non-null   int64
 4   ParentalEducation  2392 non-null   int64
 5   StudyTimeWeekly    2392 non-null   float64
 6   Absences           2392 non-null   int64
 7   Tutoring           2392 non-null   int64
 8   ParentalSupport    2392 non-null   int64
 9   Extracurricular    2392 non-null   int64
 10  Sports             2392 non-null   int64
 11  Music              2392 non-null   int64
 12  Volunteering       2392 non-null   int64
 13  GPA                2392 non-null   float64
 14  GradeClass         2392 non-null   float64
dtypes: float64(3), int64(12)
memory usage: 280.4 KB

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
count,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000
mean,2196.500000,16.468645,0.510870,0.877508,1.746237,9.771992,14.541388,0.301421,2.122074,0.383361,0.303512,0.196906,0.157191,1.906186,2.983696
std,690.655244,1.123798,0.499986,1.028476,1.000411,5.652774,8.467417,0.458971,1.122813,0.486307,0.459870,0.397744,0.364057,0.915156,1.233908
min,1001.000000,15.000000,0.000000,0.000000,0.000000,0.001057,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1598.750000,15.000000,0.000000,0.000000,1.000000,5.043079,7.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.174803,2.000000
50%,2196.500000,16.000000,1.000000,0.000000,2.000000,9.705363,15.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.893393,4.000000
75%,2794.250000,17.000000,1.000000,2.000000,2.000000,14.408410,22.000000,1.000000,3.000000,1.000000,1.000000,0.000000,0.000000,2.622216,4.000000
max,3392.000000,18.000000,1.000000,3.000000,4.000000,19.978094,29.000000,1.000000,4.000000,1.000000,1.000000,1.000000,1.000000,4.000000,4.000000

In [6]:
# Fill numeric columns with median, except for binary columns which will use mode to avoid potentially getting 0.5 as the median: 

binary_columns = ['Gender', 'ParentalSupport', 'Tutoring', 'Extracurricular', 'Sports', 'Music', 'Volunteering']

for col in df.select_dtypes(include='number').columns:
    if col not in binary_columns:
        df[col] = df[col].fillna(df[col].median())
    else:
        df[col] = df[col].fillna(df[col].mode()[0])

# Fill categorical columns with mode

for col in df.select_dtypes(include='object').columns:
    df[col] = df[col].fillna(df[col].mode()[0])

# Remove GPA outliers using IQR

Q1 = df['GPA'].quantile(0.25)
Q3 = df['GPA'].quantile(0.75)
IQR = Q3 - Q1
df = df[(df['GPA'] >= Q1 - 1.5 * IQR) & (df['GPA'] <= Q3 + 1.5 * IQR)]

# Check for remaining missing values

print(df.isnull().sum())

StudentID            0
Age                  0
Gender               0
Ethnicity            0
ParentalEducation    0
StudyTimeWeekly      0
Absences             0
Tutoring             0
ParentalSupport      0
Extracurricular      0
Sports               0
Music                0
Volunteering         0
GPA                  0
GradeClass           0
dtype: int64

In [14]:
df.drop('GPA', axis=1, inplace=True)

In [15]:
df['TotalExtracurricular'] = (df['Sports'] + df['Music'] + df['Volunteering'])

In [16]:
df['ParentalEduSupport'] = df['ParentalEducation'] * df['ParentalSupport']

In [17]:
df = pd.get_dummies(df, columns=['Ethnicity'], prefix='Ethnicity')

In [18]:
df.drop('StudentID', axis=1, inplace=True)
df.drop('Extracurricular', axis=1, inplace=True)

In [19]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2392 entries, 0 to 2391
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Age                   2392 non-null   int64
 1   Gender                2392 non-null   int64
 2   ParentalEducation     2392 non-null   int64
 3   StudyTimeWeekly       2392 non-null   float64
 4   Absences              2392 non-null   int64
 5   Tutoring              2392 non-null   int64
 6   ParentalSupport       2392 non-null   int64
 7   Sports                2392 non-null   int64
 8   Music                 2392 non-null   int64
 9   Volunteering          2392 non-null   int64
 10  GradeClass            2392 non-null   float64
 11  TotalExtracurricular  2392 non-null   int64
 12  ParentalEduSupport    2392 non-null   int64
 13  Ethnicity_0           2392 non-null   bool
 14  Ethnicity_1           2392 non-null   bool
 15  Ethnicity_2           2392 non-null   bool
 16  Ethnicity_3           2392 non-null   bool
dtypes: bool(4), float64(2), int64(11)
memory usage: 252.4 KB

,Age,Gender,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Sports,Music,Volunteering,GradeClass,TotalExtracurricular,ParentalEduSupport
count,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000
mean,16.468645,0.510870,1.746237,9.771992,14.541388,0.301421,2.122074,0.303512,0.196906,0.157191,2.983696,0.657609,3.686037
std,1.123798,0.499986,1.000411,5.652774,8.467417,0.458971,1.122813,0.459870,0.397744,0.364057,1.233908,0.706243,3.048007
min,15.000000,0.000000,0.000000,0.001057,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,15.000000,0.000000,1.000000,5.043079,7.000000,0.000000,1.000000,0.000000,0.000000,0.000000,2.000000,0.000000,2.000000
50%,16.000000,1.000000,2.000000,9.705363,15.000000,0.000000,2.000000,0.000000,0.000000,0.000000,4.000000,1.000000,3.000000
75%,17.000000,1.000000,2.000000,14.408410,22.000000,1.000000,3.000000,1.000000,0.000000,0.000000,4.000000,1.000000,6.000000
max,18.000000,1.000000,4.000000,19.978094,29.000000,1.000000,4.000000,1.000000,1.000000,1.000000,4.000000,3.000000,16.000000

In [20]:
# Assuming 'df' is the dataframe with your data
X = df.drop('GradeClass', axis=1)  # Feature columns
y = df['GradeClass']  # Target column

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Column transformer for preprocessing
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), X.select_dtypes(include=['float64', 'int64']).columns),  # Numerical columns
        ('cat', OneHotEncoder(), X.select_dtypes(include=['object']).columns)  # Categorical columns
    ]
)

In [21]:
#Step 2: Model Building
#1 Logistic Regression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

# Build a pipeline for Logistic Regression
log_reg_pipeline = Pipeline([
    ('preprocessor', preprocessor),
    ('classifier', LogisticRegression(max_iter=1000))
])

# Train the model
log_reg_pipeline.fit(X_train, y_train)

# Predictions and evaluation
y_pred_log_reg = log_reg_pipeline.predict(X_test)
print("Logistic Regression Accuracy:", accuracy_score(y_test, y_pred_log_reg))
print(classification_report(y_test, y_pred_log_reg))

Logistic Regression Accuracy: 0.6555323590814196
              precision    recall  f1-score   support

         0.0       0.00      0.00      0.00        22
         1.0       0.35      0.35      0.35        49
         2.0       0.49      0.58      0.53        85
         3.0       0.47      0.24      0.32        86
         4.0       0.82      0.96      0.88       237

    accuracy                           0.66       479
   macro avg       0.43      0.43      0.42       479
weighted avg       0.61      0.66      0.62       479

In [22]:
#.Random Forest
from sklearn.ensemble import RandomForestClassifier

# Build a pipeline for Random Forest
rf_pipeline = Pipeline([
    ('preprocessor', preprocessor),
    ('classifier', RandomForestClassifier(n_estimators=100, random_state=42))
])

# Train the model
rf_pipeline.fit(X_train, y_train)

# Predictions and evaluation
y_pred_rf = rf_pipeline.predict(X_test)
print("Random Forest Accuracy:", accuracy_score(y_test, y_pred_rf))
print(classification_report(y_test, y_pred_rf))

Random Forest Accuracy: 0.6701461377870563
              precision    recall  f1-score   support

         0.0       0.50      0.14      0.21        22
         1.0       0.48      0.49      0.48        49
         2.0       0.48      0.51      0.49        85
         3.0       0.45      0.35      0.39        86
         4.0       0.83      0.93      0.88       237

    accuracy                           0.67       479
   macro avg       0.55      0.48      0.49       479
weighted avg       0.65      0.67      0.65       479

In [23]:
!pip install xgboost

Collecting xgboost
  Using cached xgboost-3.0.0-py3-none-win_amd64.whl.metadata (2.1 kB)
Requirement already satisfied: numpy in c:\anaconda\lib\site-packages (from xgboost) (1.26.4)
Requirement already satisfied: scipy in c:\anaconda\lib\site-packages (from xgboost) (1.13.1)
Using cached xgboost-3.0.0-py3-none-win_amd64.whl (150.0 MB)
Installing collected packages: xgboost
Successfully installed xgboost-3.0.0

In [24]:
#3. XGBoost
import xgboost as xgb

# Build a pipeline for XGBoost
xgb_pipeline = Pipeline([
    ('preprocessor', preprocessor),
    ('classifier', xgb.XGBClassifier(use_label_encoder=False, eval_metric='mlogloss'))
])

# Train the model
xgb_pipeline.fit(X_train, y_train)

# Predictions and evaluation
y_pred_xgb = xgb_pipeline.predict(X_test)
print("XGBoost Accuracy:", accuracy_score(y_test, y_pred_xgb))
print(classification_report(y_test, y_pred_xgb))

C:\ANACONDA\Lib\site-packages\xgboost\training.py:183: UserWarning: [11:45:41] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)

XGBoost Accuracy: 0.6910229645093946
              precision    recall  f1-score   support

         0.0       0.71      0.23      0.34        22
         1.0       0.49      0.55      0.52        49
         2.0       0.54      0.54      0.54        85
         3.0       0.49      0.42      0.45        86
         4.0       0.84      0.92      0.88       237

    accuracy                           0.69       479
   macro avg       0.62      0.53      0.55       479
weighted avg       0.68      0.69      0.68       479

In [51]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

# Evaluation Function
def evaluate_model(name, y_true, y_pred):
    print(f"ðŸ”¹ {name}")
    print(f"Accuracy : {accuracy_score(y_true, y_pred):.4f}")
    print(f"Precision: {precision_score(y_true, y_pred, average='weighted'):.4f}")
    print(f"Recall   : {recall_score(y_true, y_pred, average='weighted'):.4f}")
    print(f"F1 Score : {f1_score(y_true, y_pred, average='weighted'):.4f}")
    print("-" * 40)

# Evaluate Logistic Regression
evaluate_model("Logistic Regression", y_test, y_pred_log_reg)

# Evaluate Random Forest
evaluate_model("Random Forest", y_test, y_pred_rf)

# Evaluate XGBoost
evaluate_model("XGBoost", y_test, y_pred_xgb)

ðŸ”¹ Logistic Regression
Accuracy : 0.6555
Precision: 0.6119
Recall   : 0.6555
F1 Score : 0.6241
----------------------------------------
ðŸ”¹ Random Forest
Accuracy : 0.6701
Precision: 0.6483
Recall   : 0.6701
F1 Score : 0.6518
----------------------------------------
ðŸ”¹ XGBoost
Accuracy : 0.6910
Precision: 0.6821
Recall   : 0.6910
F1 Score : 0.6792
----------------------------------------

In [ ]:
# XGBoost outperforms the other two in every metric â€” so it's clearly the best choice.